language: python

python:
  - "3.6"

install:
  - pip install -r requirements.txt

services:
  - postgresql

before_script:
  - psql -c "CREATE DATABASE test_blog_db;" -U postgres

script:
  - pytest --cov=app/

env:
  - TEST_DATABASE_URI=dbname=test_blog_db user=dave host='localhost' port=5432
  - SECRET_KEY='\x03C"r\xf9\x90\x0f\x80\xf6\xe69\xbf\x85;\x06.\xbd\xb3\x9a9\xf3\x82\xa9\xcc'

after_success:
  - coveralls